<% provide(:title, "Home") %>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--1dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="mdl-cell mdl-cell--12-col">Welcome to TeSS</h4>

      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--primary"></div>
      </div>

      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>ELIXIR's Training Portal</h5>
        <p><a href="http://elixir-europe.org/" target="_blank">ELIXIR</a>&apos;s TeSS (Training eSupport System) is a portal for disseminating, discovering and packaging training resources, aggregating information from ELIXIR nodes and 3<sup>rd</sup> party providers.</p>
        <p>The platform also acts as a ‘department store’, where its ‘departments’ (ELIXIR nodes) promote their latest training news and events, and contribute to its catalogue of training materials. The catalogue may be navigated via training ‘workflows’ or relevant materials collected into bespoke training ‘packages’.</p>
      </div>

      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--primary"></div>
      </div>

      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>ELIXIR Nodes</h5>
        <p>TeSS aims to provide an at-a-glance view of <a href="http://elixir-europe.org">ELIXIR's</a> training
        landscape, while also offering individual ’shop windows’, giving customisable views of the hottest training
        news, events, activity highlights, etc. from <a href="/node">nodes</a>.</p>
      </div>

    </div>
    <div class="mdl-card__actions">
      <a href="<%= static_pages_faq_url -%>" class="mdl-button" target="_blank">Read the FAQ</a>
    </div>
  </div>

  <%= render :partial => 'layouts/loginmenu' -%>

</section>

<section class="section--center mdl-grid  mdl-shadow--1dp">

  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <img src="<%= image_path '/images/frontpage/elixir_training.jpg' %>" alt="Image of an exciting training event" class="mdl-shadow-2dp">
  </header>
  <!-- <div class="mdl-card mdl-cell mdl-cell--12-col"> -->
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card__supporting-text">
      <h4>Events</h4>
      Discover the latest training events and news from ELIXIR nodes and 3<sup>rd</sup> party providers.
    </div>
    <div class="mdl-card__actions">
      <a href="/events" class="mdl-button">View Events</a>
    </div>
  </div>

  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Materials</h4>
      Browse the catalogue of materials offered by ELIXIR nodes and 3<sup>rd</sup> party providers.
    </div>
    <div class="mdl-card__actions">
      <a href="/materials" class="mdl-button">View Materials</a>
    </div>
  </div>
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <img src="<%= image_path '/images/frontpage/library.jpg' %>" alt="Old school telnet library interface" class="mdl-shadow-2dp">
  </header>

  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <img src="<%= image_path '/images/frontpage/package.jpg' %>" alt="Image of a package obtained from: https://www.flickr.com/photos/mom2sofia/8394217408" class="mdl-shadow-2dp">
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Packages</h4>
      Create training packages by grouping resources that address your particular research topic.
    </div>
    <div class="mdl-card__actions">
      <a href="/packages" class="mdl-button">View Packages</a>
    </div>
  </div>

  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Workflows</h4>
      Visualise ‘workflows’ to identify resources specific to your research and training needs.
    </div>
    <div class="mdl-card__actions">
      <a href="/workflows" class="mdl-button">View Workflows</a>
    </div>
  </div>
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <img src="<%= image_path '/images/frontpage/workflow.jpg' %>" alt="Fragment of a workflow" class="mdl-shadow-2dp">
  </header>

  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
    <img src="<%= image_path '/images/frontpage/bees.jpg' %>" alt="Some bees, busily buzzing to bring you content" class="mdl-shadow-2dp">
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Content Providers</h4>
      Browse content providers and follow links to their associated training materials.
    </div>
    <div class="mdl-card__actions">
      <a href="/contentproviders" class="mdl-button">View Content Providers</a>
    </div>
  </div>

</section>
